html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right, #d702ea, #820350);
}

p {
    margin-left: 18px;
    margin-right: 18px;
    font-size: 130%;
    text-align: justify;
    font-family: sans-serif;
}


img {
    border-radius: 5%;
    margin-top: 10px;
    margin-bottom: 20px;

}

.pi {

    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 5px;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;

}



/* new */
.rafi {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 25px;
    font-weight: 5px;
    font-family: sans-serif;
    -webkit-animation: reveal 0ms ease-in-out forwards 500ms, glow 1000ms linear infinite 2000ms;
            animation: reveal 0ms ease-in-out forwards 500ms, glow 1000ms linear infinite 2000ms;
  }
  @-webkit-keyframes reveal {
    80% {
      letter-spacing: 5px;
    }
    100% {
      background-size: 200% 200%;
    }
  }
  @keyframes reveal {
    80% {
      letter-spacing: 5px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @-webkit-keyframes glow {
    40% {
      text-shadow: 0 0 5px #fff;
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 0 0 5px #fff;
    }
  }
  /* button */
  
 


  .wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100%);
    margin-top: 30px;
    margin-bottom:100px;
	
  }
  
  .grButton {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 40px;
    
    

border-radius: 20px;
	background: rgba( 255, 255, 255, 0.3 );
  


    background-size: 165%;
    background-position: left center;
    transition: 0.4s;
  }
  /* class */

  .proma2{
    margin-top:190px;
    text-align: center;
  }
